@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}
:root {
  --background: #f4f4e191;
  --foreground: #f4f4e192;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f4e192;
    --foreground: #f4f4e1921;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
